<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
  {% load static %}
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "couch/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "couch/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "couch/js/materialize.js" %}"></script>
  <script src="{% static "couch/js/init.js" %}"></script>
</head>
<body>
  <nav class="blue" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
	<img src="{% static "couch/images/Jedi_symbol.png" %}" />
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Sillon</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Sillon</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
	{% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <footer class="page-footer orange">
    <div class="container">
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </body>
</html>
